// Input box for Searching Crypto Coins
.home-search-input {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;

    input {
        width: 100%;
        height: 50px;
        padding: 10px;
        outline: none;
        border: 1px solid var(--black);
        border-radius: 10px;
    }

    img {
        opacity: 0;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        animation: rotating 2s linear infinite;
        transition: opacity 0.2s;
    }

    &.searching img {
        opacity: 1;
    }

    @keyframes rotating {
        from {
            transform: translateY(-50%) rotate(0deg);
        }

        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}


.market-heading {
    text-align: center;
    margin-bottom: 30px;
}

// Marketplace Cards Design
.crypto-card-container {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .crypto-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 15px;
        border-radius: 10px;
        color: var(--black);
        box-shadow: var(--less-shadow);
        transition: background-color 0.3s;

        .crypto-name {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                border-radius: 30px;
                box-shadow: var(--less-shadow);
            }
        }

        .crypto-prices {
            line-height: 1.5;
            font-weight: 500;
            text-align: right;
            width: 200px;
        }
    }

    .crypto-card:hover {
        background-color: var(--card-hover);
    }

    @media screen and (max-width: 600px) {
        .crypto-card {
            flex-direction: column;
        }

        .crypto-card .crypto-name {
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }

        .crypto-card .crypto-prices {
            align-self: flex-end;
        }
    }
}